*{padding: 0;margin: 0;border: 0;}
*,*::before,*::after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
a,a:visited{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
button{cursor: pointer;}

h1,h2,h3,h4,h5,h6,p{font-size:inherit;font-weight: inherit;}

@font-face{
    font-family: 'Freestyle Script', cursive;
    src: url(./fonts/Freestyle\ Script.zip);
}

:root{
    --main-color: #5b6ded;
    --light-color: #fff;
    --dark-color: black;
}

body{
    background-color: #fff;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}

/* header */
.head-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 28px;
    font-size: 14px;
    font-weight: 600;
    color: #7c7c7c;
    transition: .13s linear;
}

.metu-item,
.metu-item::after{
    transition: .1s linear;
}

.metu-item{
    position: relative;
}

.metu-item:hover,
.active{
    color: var(--main-color);
}

.metu-item:hover:after,
.active::after{
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    top: 20px;
    left: 25%;
}
/* drop-menu */
#drop-menu{
    display: none;
}

.menu_btn{
    display: none;
    height: 40px;
    width: 30px;
    align-items: center;
    cursor: pointer;
    position: fixed;
    z-index: 20;
    top: 30px;
    right: 15px;
}

.menu_btn > span{
    position: relative;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after{
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--main-color);
}

.menu_btn > span::before{
    content: "";
    top: -12px;
    position: absolute;
}

.menu_btn > span::after{
    content: "";
    top: 12px;
    position: absolute;
}

#drop-menu:checked ~ .menu_btn > span,
#drop-menu:checked ~ .menu_btn > span::before,
#drop-menu:checked ~ .menu_btn > span::after{
    transition: .1s linear;
}

#drop-menu:checked ~ .menu_btn > span{
    transform: rotate(45deg);
}

#drop-menu:checked ~ .menu_btn > span::before{
    top: 0;
    transform: rotate(0);
}

#drop-menu:checked ~ .menu_btn > span::after{
    top: 0;
    transform: rotate(90deg);
}

#drop-menu:checked ~ .menu{
    top: 0;
}


/* home */

.home{
    background: linear-gradient(rgba(91, 109, 237, 0.6), rgba(91, 109, 237, 0.8)), url(./images/bg-01.jpg);
    background-repeat: no-repeat;
    background-position: 60% top;
    background-size: cover;
}

.home-wrapper{
    display: flex;
    align-items: center;
    padding: 100px 40px;
    justify-content: center;
    gap: 50px;
}

form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px;
    border-radius: 25px;
    width: 280px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.form-title{
    color: var(--main-color);
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}

input{
    padding: 15px 5px;
    outline: none;
}

input:focus{
    border-bottom: 1px solid black;
}

input::placeholder,
select{
    font-size: 14px;
    font-weight: 400;
    color: #818181;
}

select{
    padding: 15px 0px;
    outline: none;
}

button{
    color: var(--light-color);
    background-color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    padding: 15px 5px;
    border-radius: 10px;
    letter-spacing: 1.5px;
    width: 170px;
    margin-left: 55px;
    transition: .2s linear;
}

button:hover{
    background-color: #4155f0;
}

h1{
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 70px;
    color: var(--light-color);
    padding-bottom: 40px;

}

.home_info p{
    color: var(--light-color);
    font-size: 40px;
    font-family: 'Freestyle Script', cursive;
    font-weight: 300;
}

/* program */
.program-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 110px 0px;
    gap: 15px;
}

.program-wrapper > h2{
    font-size: 30px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
}

.program-wrapper > h4{
    font-size: 41px;
    font-family: 'Freestyle Script', cursive;
    color: #777777;
}

.program__card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0px;
}

.program__card{
    display: flex;
    align-items: center;
    width: 570px;
    flex: 1;
}

.program__card-info{
    padding: 50px 30px;
}

.program__card-info h3{
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.program__card-info p{
    font-style: 14px;
    color: #555555;
    line-height: 25px;
    padding-bottom: 10px;
}

.program__card-info a{
    font-style: 14px;
    color: #999999;
}

/* info */
.info{
    background: linear-gradient(rgba(91, 109, 237, 0.6), rgba(91, 109, 237, 0.8)), url(./images/bg-02.jpg);
    background-repeat: no-repeat;
    background-position: 54% top;
    background-size: cover;
    color: #fff;
}

.info-wrapper{
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.info-card{
    padding: 10px;
    flex-basis: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.info-card h2{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    flex-grow: 1;
}

.info-img{
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-card p{
    font-size: 16px;
    line-height: 25px;
}








/* --------------------------------------- */
@media(max-width: 1130px){
    /* info */
    .info-card{
        flex-basis: 210px;
    }
}

@media(max-width: 930px){
    /* info */
    .info-card{
        flex-basis: 165px;
    }
    .info-card2-p{
        padding: 0px 8px;
    }
}

@media(max-width: 768px){
    /* home */
    .home-wrapper{
        padding: 100px 30px;
    }
    h1{
        font-size: 38px;
        line-height: 50px;
        padding-bottom: 20px;
    }
    .home_info p{
        font-size: 28px;
    }
    /* info */
    .info-card{
        flex-basis: 260px;
    }
}

@media(max-width: 660px){
    /* header */
    .menu_btn{
        display: flex;
    }

    .menu{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: fixed;
        z-index: 10;
        padding: 100px 0px 30px;
        top: -1000px;
        width: 100%;
        right: 0;
        background-color: #fff;
    }

    .logo{
        position: relative;
        z-index: 20;
    }

    .metu-item:visited{
        color: var(--main-color);
    }

    .metu-item:visited{
        content: '';
        display: block;
        width: 50%;
        height: 1px;
        background-color: var(--main-color);
        position: absolute;
        top: 20px;
        left: 25%;
    }

     /* home */
    .home-wrapper{
        padding: 80px 20px;
    }
    h1{
        font-size: 28px;
        line-height: 35px;
    }
    .home_info p{
        font-size: 20px;
    }
}

@media(max-width: 581px){
    /* home */
    .home-wrapper{
        flex-direction: column;
        gap: 20px;
    }
    h1{
        font-size: 32px;
    }
    .home_info p{
        font-size: 28px;
    }
    .home_info{
        padding-left: 0px;
        text-align: center;
    }
}

@media(max-width: 320px){
    /* home */
    h1{
        font-size: 28px;
    }
}





